@using HMCMusicStore.Web.Models.Resources
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script language="javascript" type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="~/css/site.css" rel="stylesheet" type="text/css">
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <div class="navigation-top">
            <object data="~/guitar.svg"></object>
        </div>
        <div class="navigation-bottom">
            <a asp-controller="Home" asp-action="Index">@SectionNames.HomeSection</a>
            <a asp-controller="Category" asp-action="Drums">@SectionNames.DrumCategory</a>
            <a asp-controller="Category" asp-action="Guitars">@SectionNames.GuitarCategory</a>
            <a asp-controller="Category" asp-action="Cart">@SectionNames.CartSection</a>
        </div>
        <div class="notification-area">

        </div>
    </header>
    <div class="content">
        @RenderBody()
    </div>
    <footer>
    </footer>
</body>
</html>